.footer1 {
    width: 100vw;
    height: 40vh;
    background-color: #212327;
    color: white;
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    
}







.ours-upAB {
   
    

   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size:2rem;
   font-weight: 700;
   margin-top: 72px;
   margin-left: 230px;
}


.ours-downAB {
    margin-top: 18px;
    margin-left: 230px;
   
   
   
    

}

.inb {
    margin-top: 16px;
    margin-left: 230px;
}


.footer2 {
    width: 100vw;
    height: 60vh;
    background-color: #1f1f26;
    display: flex;
    justify-content: space-around;
   
    align-items: center;
}


.col {
    width: 110px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    text-decoration: none;
}

a {
    text-decoration: none;
}
