


/* Desktops and Laptops */
@media (min-width: 1200px) {
    /* CSS styles for desktops and laptops */



    

.status {
    width: 100vw;
    height: 110vh;
   border-top: 35px solid rgb(249, 249, 249); 
   border-bottom: 35px solid rgb(249, 249, 249);
}


 
.ours-upA12 {
    width: 40vw;
    margin: auto;
    text-align: center;
 margin-top: 70px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size:2.5rem;
   font-weight: 700;

}


.ours-downA12 {
   
   
    text-align: center;
   
    

}


  }
  
  /* Tablets */
  @media (min-width: 768px) and (max-width: 1199px) {
    /* CSS styles for tablets */
  }
  
  /* Landscape-oriented Smartphones */
  @media  (min-width: 370px) and (max-width: 896px) {
    /* CSS styles for landscape-oriented smartphones */


    
.status {
    width: 100vw;
    height: 110vh;
   border-top: 35px solid rgb(249, 249, 249); 
   border-bottom: 35px solid rgb(249, 249, 249);
}


 
.ours-upA12 {
    width: 100vw;
    margin: auto;
    text-align: center;
 margin-top: 30px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size:1.5rem;
   font-weight: 700;

}


.ours-downA12 {
   width: 90vw;
   font-size: small;
    text-align: center;
   margin-left: 15px;
    margin-top: 10px;

}

  }
  
  /* Portrait-oriented Smartphones */
  @media (max-width: 479px) {
    /* CSS styles for portrait-oriented smartphones */
  }

